* !filter !diff
encryptcontent.cache filter=git-crypt diff=git-crypt
mkdocs.yml filter=git-crypt diff=git-crypt
*.md filter=git-crypt diff=git-crypt
docs/** filter=git-crypt diff=git-crypt
sites/** filter=git-crypt diff=git-crypt
